body {
  background:$body-background;
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
}
.header {
  min-height:50px;
  background:$header-background;
}
.header-branding {
  text-align:center;
  line-height:50px;
  color:white;
  font-size:42px;
  padding:10px 0;
  font-family: $branding-font-family;
  font-weight: $branding-font-weight;
}
.nav {
  min-height: 50px;
  background:$nav-background;
}
.menu {
  margin:0;
  padding:0;
  list-style: none;
}
.menu__item {
  display:inline-block;
}
.menu__link {
  color:white;
  text-decoration: none;
}
.main {
  min-height:550px;
}
.footer {
  min-height:50px;
  background:$footer-background;
}
.article {
  margin:50px auto;
  padding:20px;
  max-width:900px;
  background:$article-background;
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  //box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.75);
}