$clouds:        #EBF0F1;
$silver:        #BDC3C7;
$asbestos:      #7F8C8D;
$charcoal:      #333333;
$emerald:       #2ECC71;
$carrot:        #E67E22;
$wisteria:      #8E44AD;
$peter-river:   #3498DB;
$midnight-blue: #2C3E50;
$alizarin:      #E74C3C;

$body-background: $clouds;
$header-background: $peter-river;
$nav-background: $silver;
$footer-background: $charcoal;