$clouds:        #EBF0F1;
$silver:        #BDC3C7;
$asbestos:      #7F8C8D;
$charcoal:      #333333;
$emerald:       #2ECC71;
$carrot:        #E67E22;
$wisteria:      #8E44AD;
$peter-river:   #3498DB;
$midnight-blue: #2C3E50;
$alizarin:      #E74C3C;

$branding-font-family: "Source Sans Pro";
$branding-font-weight: 700;
$paragraph-font-family: "Source Sans Pro";
$heading-font-family: "Source Sans Pro";
$paragraph-font-weight: 300;
$heading-font-weight: 200;

$body-background: $clouds;
$header-background: $peter-river;
$nav-background: $midnight-blue;
$footer-background: $charcoal;
$article-background: white;